{% extends 'base.html' %}


{% block content %}
    <style>
        #results {
            padding-top: 20px;
        }

        .img-link {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: relative;
            border: none;
            padding: 0 10px;
        }

        .img-link:hover {
            background-color: white;
        }

        #notice {
            display: none;
            margin-top: 80px;
        }

    </style>


    <div class="row">

        <div class="col-md-12">

            <h1 class="text-center" id="title"
                style="margin-top:130px; margin-bottom: 100px; font-weight: 400;">
                <img src="{{ url_for('static', filename='logo.jpeg') }}" width="60" height="60"
                     class="d-inline-block align-top"
                     style="margin-right: 15px"
                     alt="">ɪᴍᴀɢᴇ sᴇᴀʀᴄʜ</h1>


            <h5 id="title-sm" style="display: none;">
                <img src="{{ url_for('static', filename='logo.jpeg') }}" width="30" height="30"
                     class="d-inline-block align-top"
                     style="margin-right: 10px"
                     alt="">ɪᴍᴀɢᴇ sᴇᴀʀᴄʜ</h5>


            <div class="input-group">
                <input type="text" class="form-control" name="text" id="text">
            </div>

            <p id="result-text" style="display: none; padding-top: 10px">About <strong>0</strong> Results</p>

            <p id="similar-text" style="display: none;"></p>
        </div>

        <div class="col-md-12">

            <div class="loading text-center" style="display: none; padding: 40px;">
                <img src="{{ url_for('static', filename='loading.gif') }}" width="20%">
            </div>

            <div id="notice">
                <div class="text-center">
                    <p>Unable to find any image matching your keywords.</p>
                </div>

                <h6 style="padding-top: 50px; font-weight: 600">Images you may like:</h6>
            </div>

            <div class="row" id="results">

            </div>
        </div>


    </div>


    <div id="template" style="display: none">

        <div class="col-md-3 d-flex align-items-stretch" style="margin-bottom: 20px">

            <div class="card" style="width: 100%">
                <div class="card-body" style="padding: 10px">
                    <a href="#" class="btn btn-outline-primary img-link">
                        <img src="" width="100%">
                    </a>
                </div>
            </div>
        </div>


    </div>





    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

        var small_text = false;

        var changeTitle = function () {

            if (!small_text) {
                $('#title').slideUp();
                $('#title-sm').show();
            } else {
                $('#title').slideDown();
                $('#title-sm').hide();
            }
            small_text = !small_text;
        };

        var refreshImages = function (text) {
            if (!small_text)
                changeTitle();

            $('.loading').show();
            $.ajax({
                url: '{{ url_for('engine.image_batch', query='') }}' + text,
                success: function (data) {
                    $('.loading').hide(800);

                    result = data.images;
                    similar = data.similars;

                    result.forEach(function (label) {

                        ids = label.ids;
                        Object.keys(ids).forEach(function (id) {
                            template = $('#template').children(":first").clone();

                            template.find('img').attr("src", 'https://s3.amazonaws.com/ece1779projecta3bucket/thumbnails/' + id);

                            template.find('a').attr("href", '{{ url_for('image.show',id='') }}' + id);

                            $('#results').append(template);

                            if (text !== '$ANY$') {
                                $('#result-text').find('strong').html(String($('#results').children().length));
                            }
                            $('#result-text').show();
                        });
                    });

                    if (text !== '$ANY$') {
                        $('#result-text').find('strong').html(String($('#results').children().length));
                    }
                    $('#result-text').show();

                    if (result.length < 1 || Object.keys(result[0].ids).length < 1) {

                        if (text === '$ANY$') {
                            $('#notice').show();
                        }
                        else {
                            $('#notice').show();
                            refreshImages('$ANY$');
                        }
                    }

                    if (similar.indexOf(text) > -1)
                        similar.splice(similar.indexOf(text), 1);


                    if (text !== '$ANY$' && similar.length > 0) {
                        $('#similar-text').html('You may also like: ');
                        $('#similar-text').show();

                        href = '{{ url_for('engine.index') }}' + '?text=';

                        similar.forEach(function (s) {
                            $('#similar-text').append('<a style="color:white; border-radius: 5px; padding: 2px 8px; margin: 2px; background-color: silver" href="' + href + s + '">' + s + '</a>')
                        })

                    }


                }
            });

        };


        $('#text').on('change', function () {


            $('#results').html('');
            $('#result-text').hide();
            $('#similar-text').hide();
            $('#notice').hide();

            var text = $('#text').val();


            if (text !== '') {
                refreshImages(text)
            } else {
                changeTitle();
            }
        });

        $(document).ready(function () {

            var text = getUrlParameter('text');

            if (text && text !== '') {
                $('#text').val(text);
                refreshImages(text);
            }

            var uri = window.location.toString();
            if (uri.indexOf("?") > 0) {
                var clean_uri = uri.substring(0, uri.indexOf("?"));
                window.history.replaceState({}, document.title, clean_uri);
            }

        });


    </script>

{% endblock %}