{% extends 'base.html' %}


{% block content %}
    <style>
        #results {
            padding-top: 20px;
        }

        .img-link {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: relative;
            border: none;
            padding: 0 10px;
        }

        .img-link:hover {
            background-color: white;
        }

        #notice {
            display: none;
            margin-top: 80px;
        }


    </style>


    <div class="row">

        <div class="col-md-12">

            <h1 class="text-center" id="title"
                style="margin-top:130px; margin-bottom: 100px; font-weight: 400;">
                  <img src="{{ url_for('static', filename='logo.jpeg') }}" width="60" height="60"
                     class="d-inline-block align-top"
                     style="margin-right: 15px"
                     alt="">ɪᴍᴀɢᴇ sᴇᴀʀᴄʜ</h1>


            <h5 id="title-sm" style="display: none;">
                <img src="{{ url_for('static', filename='logo.jpeg') }}" width="30" height="30"
                     class="d-inline-block align-top"
                     style="margin-right: 10px"
                     alt="">ɪᴍᴀɢᴇ sᴇᴀʀᴄʜ</h5>


            <div class="input-group">
                <input type="text" class="form-control" name="text" id="text">
            </div>

            <p id="result-text" style="display: none; padding-top: 10px">About <strong>0</strong> Results</p>
        </div>

        <div class="col-md-12">

            <div class="loading text-center" style="display: none; padding: 40px;">
                <img src="{{ url_for('static', filename='loading.gif') }}" width="20%">
            </div>

            <div id="notice">
                <div class="text-center">
                    <p>Unable to find any image matching your keywords.</p>
                </div>

                <h6 style="padding-top: 50px; font-weight: 600">Images you may like:</h6>
            </div>

            <div class="row" id="results">

            </div>
        </div>


    </div>


    <div id="template" style="display: none">

        <div class="col-md-3 d-flex align-items-stretch">

            <div class="card" style="width: 100%">
                <div class="card-body" style="padding: 10px">
                    <a href="#" class="btn btn-outline-primary img-link">
                        <img src="" width="100%">
                    </a>
                </div>
            </div>
        </div>


    </div>


    <script src="{{ url_for('static', filename='engine_index.js') }}"></script>


{% endblock %}
