{% extends 'base.html' %}


{% block content %}

    <style>
        .img-link {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: relative;
            border: none;
            padding: 0 10px;
        }

        .card-body {
            padding: 20px;
        }

        .img-link:hover {
            background-color: white;
        }

        .card-img-top:hover {
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9);
        }
    </style>

    <div class="row">

        <div class="col-md-12">
            <h4>My {{ 'Favorites' if favorite else 'Album' }} <b style="font-size: 14px">({{ images|length }}
                images)</b>

                {% if not favorite %}
                    <div style="float: right">
                        <a href="{{ url_for('image.create') }}" class="btn btn-outline-success">Add New Image</a>
                    </div>
                {% endif %}
            </h4>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            {% if images|length == 0 %}
                <p class="text-center" style="margin-top: 20%;">

                    {% if  favorite %}
                        You do not have any favorite image, find more in our home page
                    {% else %}
                        You do not have any image currently, upload now!
                    {% endif %}

                </p>
            {% endif %}
        </div>

        {% for image in images %}

            <div class="col-md-3 d-flex align-items-stretch" style="margin-top: 20px;">

                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <a href="{{ url_for('image.show', id=image['imageid']) }}"
                           class="btn btn-outline-primary img-link">
                            <img src="{{ image['thumb'] }}" class="card-img-top" width="100%">
                        </a>
                    </div>

                </div>

            </div>

        {% endfor %}
    </div>
{% endblock %}


