{% extends 'base.html' %}


{% block content %}

    <style>

        .clickable {

        }

        .clickable:hover {
            cursor: pointer;
        }

        .title {

            font-size: 18px;
            font-weight: 500;

        }

        .notice {

            margin: 30px 0;
            font-size: 14px;
            display: none;
            color: darkgray;

        }

    </style>

    <div class="row" style="padding-top: 20px;">


        <div class="col-md-8" id="image-box" data-id="{{ image['imageid'] }}">
            <div id="container" style="width: 100%"></div>
        </div>


        <div class="col-md-4">


            <div class="row">
                <div class="col-md-12">
                    <div style="float:left">
                        <a style="font-size:25px" href="{{ url_for('image.like',id =image['imageid']) }}"><i
                                class="fa{{ '' if like else 'r' }} fa-heart"></i></a>
                    </div>
                    {% if g.user['username'] == image['user'] %}
                        <div style="float:right">
                            <a href="{{ url_for('image.remove', id=image['imageid']) }}"
                               onclick="return confirm('Are you sure to delete this image?')"
                               class="btn btn-outline-danger">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>


            <div class="row" id="block-faceDetails">
                <div class="col-md-12">
                    <p class="title">People</p>

                    <div id="notice-faceDetails" class="notice text-center">Unable find any person in this image.</div>
                </div>
            </div>

            <hr>

            <div style="margin-top: 20px">
                <p class="title">Labels</p>
                <div id="notice-labels" class="notice text-center">Unable find any label in this image.</div>
                <div id="block-labels" style=" display: flex;flex-wrap: wrap;"></div>
            </div>

            <hr>

            <div style="margin-top: 20px">
                <p class="title">Celebrity</p>
                <div id="notice-celebrityFaces" class="notice text-center">Unable find any celebrity in this image.
                </div>
                <div id="block-celebrityFaces" style=" display: flex;flex-wrap: wrap;"></div>
            </div>

        </div>

        <div class="col-md-12">
            <div id="block-celebrityFaces">
            </div>
        </div>

    </div>


    <div id="template-faceDetails" style="display: none">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card clickable" style="width: 100%; margin-bottom: 10px;" onclick="">
                <div class="card-body text-center" style="padding: 10px">
                    <p class="gender" style="margin-bottom: 10px"></p>
                    <p class="age" style="margin-bottom: 0"></p>
                </div>
            </div>
        </div>
    </div>

    <div id="template-labels" style="display: none">
        <div style=" margin-right: 15px; margin-bottom: 5px">
            <a class="clickable draw-click" style="font-size: 16px; color: gray;"></a>
            <a class="clickable search"><i class="fa fa-search" style="font-size: 14px; color: gray"></i></a>
        </div>
    </div>

    <div id="template-celebrityFaces" style="display: none">
        <div>
            <a style="font-size: 14px; color:gray; text-decoration: underline;"></a>
        </div>
    </div>

    <script src="https://unpkg.com/konva@3.2.3/konva.min.js"></script>
    <script src="{{ url_for('static', filename='image_show.js') }}"></script>

{% endblock %}

